#GAS_PRICE_MULTIPLIER = 12
## DO NOT LEAVE SPACE BEFORE AND AFTER "="

MUMBAI_PROVIDER_URL=https://rpc-mumbai.matic.today
POLYGON_PROVIDER_URL=https://polygon-rpc.com/
BSCTEST_PROVIDER_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
BSC_PROVIDER_URL=https://bsc-dataseed.binance.org/
MAINNET_PROVIDER_URL=https://mainnet.infura.io/v3/ec5a161aad104116b15a33b9cb5efa03
SKALE_PROVIDER_URL=https://amsterdam.skalenodes.com/v1/attractive-muscida

#POLYGON SCAN
POLYGONSCAN_API_KEY={API KEY HERE}
#BSC SCAN 
BSCSCAN_API_KEY={API KEY HERE}

# account name
DEPLOYER_PRIVATE_KEY={PRIVATE KEY HERE}
# account name
GOVERNOR_PRIVATE_KEY={PRIVATE KEY HERE}

# fork provider --> suggest to go to INFURA and open a free account
MAINNET_ARCHIVE_NODE={URL HERE}
MAINNET_START_BLOCK={curr blockNumber}
POLYGON_ARCHIVE_NODE={URL HERE}
POLYGON_START_BLOCK={curr blockNumber}
BSC_ARCHIVE_NODE={URL HERE}
BSC_START_BLOCK={curr blockNumber}

ACCOUNTS_TO_FUND=0x000000000,0x000000000000,0x00000000000

CURRENT_FORK=polygon
VERBOSE=TRUE